.add{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    gap: 50px;

    input{
        width: 400px;
        height: 50px;
        outline: none;
        border: none;
        padding: 10px;
        border-bottom: 1px solid #ffb400;


    }

    .buttons{
        margin-top: 20px;
        display: flex;
        gap: 15px;
        button{
            width: 100px;
            height: 40px;
            background-color: white;
            color: black;
            border: 1px solid #ffb400;
            transition: 0.3s;
            &:hover{
                background-color: #ffb400;
                transform: scale(1.1);
            }
        }
    }
    form{
        display: flex;
        flex-direction: column;
        gap: 20px;
        input{
            width: 400px;
            height: 50px;
            outline: none;
            border: 1px solid #ffb400;
        }
        button{
            width: 130px;
            height: 60px;
            background-color: #ffb400;
        }
    }
    table{
        width: 80%;
        margin-top: 50px;
        td{
            text-align: center;
    
            button{
                background-color: rgb(205, 21, 21);
                color: white;
                width: 30px;
                height: 30px;
            }
        }
    }
}