.navbar{
    max-width: 100%;
    width: 100%;
    min-height: 10vh;
    background-color: transparent;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 60px;
        li{
            a{
                color: #f0f0f0;
            }
            .active{
                color: white;
            }
        }
    }
    button{
        background: transparent;
        width: 110px;
        height: 35px;
        border: 1px solid white;
        color: white;
    }
}